:root {
    font-family: "Roboto", sans-serif;
    --sidebar-width: 240px
}

html {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    min-height: 100%;
}

* {
    margin: 0;
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.active {
    color: 'orange'
}