:root {
  font-family: "Roboto", sans-serif;
  --sidebar-width: 240px
}
* {
  box-sizing: inherit;
}

html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
    margin: 0;
}
.active {
    color: 'orange'
}